* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #007BFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }

header {
    background: #333;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid #007BFF;
}

header h1 {
    float: left;
}

header nav {
    
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
}
 nav {
    justify-content: center;
 }

 section {
    padding: 2rem 0;
    margin-bottom: 1rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h2 {
    color: #007BFF;
    margin-bottom: 1rem;
}

.projects_card {
    background: #f9f9f9;
    padding: 1rem;
    /* border: 1px solid #ddd; */
    margin-bottom: 1rem;
    /* box-shadow: 10px 5px; */
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}