/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: rgb(189, 185, 185);
    color: #333;
}

.container {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.foot-step {
    border-left:none;
}

header {
    background: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

span{
    font-size: 15px;
}

header h4{
   
    color:#007BFF;
}

header h2 {
    color: #007BFF;
    margin: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

nav a:hover {
    color: #007BFF;
    font-size: large;
}


section {
    margin-bottom: 20px;
}

.logo-heading{
    border: none;
}


h2 {
    color: #0b74ec;
    margin-bottom: 25px;
    border-left: 5px solid #007BFF;
    padding-left: 15px;
}

.projects_grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.projects_card {
    background: #fff;
    padding: 25px;
    flex: 1; 
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    transition: transform 0.2s;
}

.projects_card:hover {
    transform: translateY(-5px);
    box-shadow: #555; 
}

.projects_card h3 {
    margin-bottom: 10px;
    color: #007BFF;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff ;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn:hover {
    background: #0056b3;
}

.material-icons{
    height: 20px;
    width: 50px;
    
    justify-content: space-between;
}
i{
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 50px;
    background: #333;
    color: white;
}

.tech-stack {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0;
  }
  
  .tech-item {
    margin-top: 25px;
    background: #fff;
    padding: 20px;
    
    width: 130px;
    height: 105px;
    display:inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    border: 1px solid #eee;
   
    overflow: hidden;
  }

  .tech-item:hover{
    transform: translateY(-5px);
    transition: transform 0.2s;
    box-shadow: #555;
    color:blue; 

  }
  
  .tech-item i {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    font-size: 55px; 
   
    padding-left : 15px;
    padding-top: 5px;
    padding-bottom:15px;
    padding: right 15px;
    color: #333;
  
  }
  
 main span {
    display: flex;
    
    justify-content:center;
    padding-top: 35px;
    align-content: center;
    
  
  }


  footer i{
    padding-top: 20px;
    color:whitesmoke;
  }
  
  footer h2{
    border: none;
  }

  footer span{
    margin-bottom: 70px;
    padding-bottom: 50px;
    padding-top: 0px;
  } */